.bg-lightBlue {
  background: #ebebff;
}

.work-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
}

.tag-button {
  padding: 4px 12px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  border: none;
}

.work-button {
  padding: 15px;
  max-width: 130px;
  font-size: 17px;
  background: white;
  border: 1px solid #5e3d93;
  border-radius: 8px;
  color: #5e3d93;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
}

.work-button:hover {
  background: #5e3d93;
  border: solid #fff 1px;
  color: #fff;
}

.text-left{
  text-align: left;
}

.work {
  padding: 12px;
  max-width: 130px;
  font-size: 17px;
  background: white;
  border: 1px solid #5e3d93;
  border-radius: 8px;
  color: #5e3d93;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
}

